In [28]:
import pandas as pd
import requests
import time

In [ ]:
CISKB5Y93FGTRQ9Y
CSYXQQXVCODES3RE
GUL14652IV9ZYIPP

In [45]:
url = 'https://www.alphavantage.co/query?function=LISTING_STATUS&apikey=lxGU03xauqeabwyRjlkZZWpTLRtWDdr_'

In [46]:
df = pd.read_csv(url)

In [47]:
df

Empty DataFrame
Columns: [{}]
Index: []

In [26]:
df['status'].value_counts()

KeyError: 'status'

In [ ]:
df.head(3)

,symbol,name,exchange,assetType,ipoDate,delistingDate,status
0,A,Agilent Technologies Inc,NYSE,Stock,1999-11-18,NaN,Active
1,AA,Alcoa Corp,NYSE,Stock,2016-10-18,NaN,Active
2,AAA,AXS First Priority CLO Bond ETF,NYSE ARCA,ETF,2020-09-09,NaN,Active

In [ ]:
df = df.drop('delistingDate',axis=1)

In [ ]:
df.head(3)

,symbol,name,exchange,assetType,ipoDate,status
0,A,Agilent Technologies Inc,NYSE,Stock,1999-11-18,Active
1,AA,Alcoa Corp,NYSE,Stock,2016-10-18,Active
2,AAA,AXS First Priority CLO Bond ETF,NYSE ARCA,ETF,2020-09-09,Active

In [ ]:
df['assetType'].value_counts()

Stock    7954
ETF      3654
Name: assetType, dtype: int64

In [ ]:
df = df[df['assetType']=='Stock']
df = df.drop('assetType',axis=1)

In [ ]:
df['ipoDate']= pd.to_datetime(df['ipoDate'])

In [ ]:
df = df[df['ipoDate'] < pd.to_datetime('2015-01-01')]

In [ ]:
df =df.reset_index(drop=True)

In [27]:
df['exchange'].unique()

KeyError: 'exchange'

In [15]:
df = df[df['exchange']=='NYSE']

In [16]:
df = df.sample(n=100,random_state=47)

In [17]:
df = df.reset_index(drop=True)

In [18]:
symbols=df['symbol'].unique()

__________________

In [20]:

for itr, symbol in enumerate(symbols):
    if itr<=33:
        continue
    if itr % 5 == 0:
        time.sleep(65)
    url1 = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&outputsize=full&apikey=CSYXQQXVCODES3RE'
    response = requests.get(url1)
    data = response.json()
    df = pd.DataFrame(data['Time Series (Daily)'])
    df = df.transpose()
    new_column_names = {
        '1. open': f'{symbol}_open',
        '2. high': f'{symbol}_high',
        '3. low': f'{symbol}_low',
        '4. close': f'{symbol}_close',
        '5. volume': f'{symbol}_volume'
    }
    df.rename(columns=new_column_names, inplace=True)
    csv_filename = f'Data/stock_data_{symbol}.csv'
    df.to_csv(csv_filename)
    print(f"Iteration {itr} ; DataFrame saved to {csv_filename}")

KeyError: 'Time Series (Daily)'

In [21]:
data

{'Information': 'Thank you for using Alpha Vantage! You have reached the 100 requests/day limit for your free API key. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.'}

In [ ]:
# import requests
# import time

# api_key = 'lxGU03xauqeabwyRjlkZZWpTLRtWDdr_'
# base_url = 'https://api.polygon.io/v2/aggs/ticker/'

# interval = '1'  
# start_date = '2021-11-1'
# end_date = '2023-10-1'
# time_interval = pd.DateOffset(days=34)
# for itr,symbol in enumerate(symbols):
#     current_date = pd.to_datetime(start_date)
#     i = 1
#     data_list = []
#     while current_date <= pd.to_datetime(end_date):
#         if i % 5 == 0:
#             time.sleep(65)
#         interval_end = current_date + time_interval
#         current_date_dateonly = current_date.date()
#         interval_end_dateonly = interval_end.date()
#         url = f'{base_url}{symbol}/range/{interval}/minute/{current_date_dateonly}/{interval_end_dateonly}?limit=50000&apiKey={api_key}'
#         response = requests.get(url)
#         data = response.json()
#         print(i,data['ticker'])
#         if data['resultsCount']==0:
#             i += 1
#             continue
#         results = data['results']
#         data_list.extend(results)
#         i += 1
#         current_date = interval_end
#     formatted_data_list = []
#     for item in data_list:
#         formatted_data_list.append({
#             'timestamp': pd.to_datetime(item['t'], unit='ms'),
#             'open': item['o'],
#             'high': item['h'],
#             'low': item['l'],
#             'close': item['c'],
#             'volume': item['v']
#         })
#     df = pd.DataFrame(formatted_data_list)
#     csv_filename = f'Data/stock_data_{symbol}.csv'
#     df.to_csv(csv_filename)
#     print(f"Iteration {itr} ; DataFrame saved to {csv_filename}")

1 RVTY
2 RVTY
3 RVTY
4 RVTY

In [ ]:
data

{'status': 'ERROR',
 'request_id': '71455357a3e1c9223987395d7f54ea97',
 'error': "You've exceeded the maximum requests per minute, please wait or upgrade your subscription to continue. https://polygon.io/pricing"}